body {
background-color: rgb(164, 162, 162);
background-repeat: no-repeat;
background-size: cover;
  }
  
  .word {
    font-weight: 800;
    font-size: 38px; 
    color: rgb(24, 24, 81); 
    margin-top: 10px; 
    border-style: ridge ;
    border-width: 20px;
    width: 100%;
    font-family: system-ui,'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    text-shadow: 0 0 2px rgb(54, 54, 139),  0 0 3px rgb(63, 169, 235);
}
  h2 {
    color: #333;
  }
  
  .container {
    max-width: 900px;
  }
  
  .nav.nav-link {
    font-weight: bold;
  }
  
  .nav .nav-link {
    color: #001f3f !important;
    font-weight: bold;
  }
  
  .nav .nav-link.active {
    background-color: white !important;
    color: #0a95c6 !important; 
  }
  
 
  
  .card img {
    height: 180px;
    object-fit: cover;
  }
  

  .book-container {
    margin: auto;
    width: 100%;
  }

 
  .cards:hover{
    transition: transform 0.3s ease;
  }
  .cards {
    transform: scale(1.0);
  }